body {
  padding: 0;
  margin: 0;
}

.header-container {
  margin-bottom: 30px;
  display: flex;
  width: 100%;
  background-color: blue;
  justify-content: space-around;
  align-items: center;
}

.header-container h2 {
  color: white;
}
#close6 {
  border-radius: 3px;
  display: flex;
  width: 20px;
  font-size: 17px;
  background-color: white;
  color: black;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.review-container {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.review-box {
  margin: 10px;
  flex-direction: row;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
}

.icons-image-container {
  display: flex;
  justify-content: space-between;
}

.image-name-container {
  display: flex;
}

.review-img {
  padding: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.name-email-container {
  flex-direction: column;
}
.review-name {
  font-size: 15px;
  margin-bottom: 5px;
}
.review-email {
  margin-top: 1px;
  font-size: 12px;
  color: gray;
}

.icons {
  flex-direction: row;
}

.fa-star.one,
.fa-star.two,
.fa-star.three {
  color: yellow;
}

.fa-star.five {
  color: gainsboro;
}

.oneB .fa-star.four,
.oneB .fa-star.five {
  color: yellow;
}

.twoB .fa-star.four {
  color: yellow;
}

.threeB .fa-star.four {
  color: yellow;
}
.fourB .fa-star.four,
.fourB .fa-star.five {
  color: gainsboro;
}
